{% extends 'base.html' %}

{% load bootstrap_filters %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Acerca de mí</h1>
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Hola, soy Carlos Urbina</h5>
        </div>
        <div class="card-body">
            <p>
                Bienvenido a mi página. Aquí puedes aprender más sobre mí. 
                Soy un apasionado del control de calidad y la programación.
            </p>
            <p>
                En mi tiempo libre, disfruto de estar aprendiendo nuevas cosas en mi area para luego poder ponerlas en practica en mi trabajo.
            </p>
            <p>
                Actualmente, estoy trabajando en la parte de control de calidad (QA) para un empresa que realiza juegos de bingo y slots.
                Estoy siempre buscando nuevas oportunidades y desafíos que me permitan crecer y aprender, como es este caso que actualmente codifican en python y luego me llamo mucho la atencion Django.
            </p>
            <h5>Mis Conocimientos</h5>
            <ul>
                <li>JavaScript</li>
                <li>Cypress</li>
                <li>Selenium</li>
                <li>Git</li>
            </ul>
            <h5>Contacto</h5>
            <p>Si deseas saber más sobre mí, no dudes en contactarme a través de carlosouc18@gmail.com</p>
        </div>
    </div>
</div>
{% endblock %}